$body-horizontal-padding: 30px;

// fonts
$font-main-size: 16px;

// colors
$white: #fff;
$black: #000;
$orange: #fb0;
$background-grey: #ccc;
$strange-blue: #0e75b1;

// header
$header-font-size: 20px;
