@import 'src/styles/constants.scss';

.button {
  cursor: pointer;

  &.disabled {
    background-color: #ccc;
    cursor: default;
  }
}

.main-button {
  font-weight: 600;
  color: $white;
  background-color: $strange-blue;
}

.nav-button {
  display: flex;
  min-width: 100px;
  padding: 0;
  background-color: $orange;

  a {
    flex-grow: 1;
    padding: 5px 0;
    color: $black;
  }
}
