.converter {
  flex-grow: 1;

  .converter_input-wrapper {
    height: 30px;
    margin-top: 20px;
    padding-bottom: 20px;

    .input, .button {
      height: 100%;
      padding: 0 10px;
    }

    .button {
      margin-left: 20px;
    }
  }
}
