.converter {
  flex-grow: 1;

  .converter_input-wrapper {
    display: flex;
    height: 30px;

    .input {
      max-width: 200px;
      min-width: 100px;
      padding: 0 10px;
    }

    .button {
      height: 100%;
      margin-left: 20px;
      padding: 0 20px;
    }
  }

  .result {
    margin-top: 20px;
  }
}
