.converter {
  flex-grow: 1;

  .converter_input-wrapper {
    height: 30px;

    .input, .button {
      height: 100%;
      padding: 0 20px;
    }

    .button {
      margin-left: 20px;
    }
  }

  .result {
    margin-top: 20px;
  }
}
