@import 'src/styles/constants.scss';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px $body-horizontal-padding 15px;
  background-color: $background-grey;

  h1 {
    margin-bottom: 20px;
    font-size: $header-font-size;
  }

  nav {
    align-self: flex-start;
  }
}

.main {
  flex-grow: 1;
  padding: 30px $body-horizontal-padding;
}

.footer {
  padding: 10px $body-horizontal-padding;
  background-color: $background-grey;
}
